@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* <style type="text/tailwindcss">  */
  /* @theme {
    --color-clifford: #da373d;
    --color-emerald: #10b981;
    --color-fuchsia: #d946ef;
    --color-gray: #6b7280;
    --color-indigo: #6366f1;
    --color-lime: #84cc16;
    --color-orange: #f97316;
    --color-pink: #ec4899;
    --color-purple: #a855f7;
    --color-red: #ef4444;
    --color-sky: #0ea5e9;
    --color-teal: #14b8a6;
    --color-violet: #8b5cf6;
    --color-yellow: #eab308;
    --color-zinc: #3f3f46;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #4f46e5; Indigo
    --color-secondary: #f97316; Orange
    --color-accent: #10b981; Emerald
    --color-background: #f3f4f6; Light Gray
    --color-text: #111827; Dark Gray
    --color-border: #e5e7eb; Light Gray
    --color-success: #10b981; Emerald
    --color-warning: #f59e0b; Amber
    --color-error: #ef4444; Red
    --color-info: #3b82f6; Blue
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Merriweather', serif;
    --font-mono: 'Courier New', monospace;
  }     */
  /* </style> */
